@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins, 'sans-serif';
    
    --main-bg-color: #EBEBEB;
    --main-content-font-color: #2B303A;
}

.main{
    background: var(--main-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-content-font-color);
    .mainContent{
        min-height: 65vh;
        min-width: 50vw;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.089);

        display: flex;
        align-items: center;
        flex-direction: column;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        background: #f7f3f546;

        .divSelect{
            display: flex;
            align-items: center;
            flex: 1;
            max-height: 100%;
            input{
                width: 250px;
                height: 25px;
                font-size: 18px;
                border-radius: 5px;
                display: flex;
                outline: none;
                border: 1px solid var(--main-content-font-color);
                padding: 5px;
            }
        }

        .contentMain{
            margin-top: 50px;
            flex: 2;
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            flex-wrap: wrap;

            h1{
                font-size: 50px;
            }

            
        }
    }
}